version: '3'

services:
        backend:
                restart: always
                build: backend
                ports:
                        - 8080:8080
                command: /bin/sh -c "mvn package -DskipTests && java -jar target/todo-0.0.1-SNAPSHOT.jar"
                volumes:
                        - maven-repo:/root/.m2

        postgres:
                restart: always
                image: postgres:10.4
                ports:
                        - "5432"
                volumes:
                        - pgdata:/var/lib/postgresql/data/

        passport:
                restart: always
                build: passport
                ports:
                        - 8081:8081
                links:
                        - postgres:postgres
                command: /bin/sh -c "mvn package -DskipTests && java -jar target/passport-0.0.1-SNAPSHOT.jar"
                volumes:
                        - maven-repo:/root/.m2

        redis:
                image: redis
                ports:
                        - "6379:6379"

volumes:
        maven-repo:
        pgdata:
